<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" t>
<head>
    <link th:href="@{/css/petclinic.css}" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Owners </title>
</head>
<body>
<table>
    <thead>
    <tr style="font-weight: bold" bgcolor="#a9a9a9">
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
    </tr>
    </thead>
    <th:block th:each="owner,iterStat:${owners}">
        <tr th:bgcolor="${iterStat.odd}?white:lightgray">
            <td th:text="${owner.id}"/>
            <td th:text="${owner.firstName}"/>
            <td th:text="${owner.lastName}"/>
        </tr>
    </th:block>
</table>
</body>
</html>